<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Pomona.Pwa</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <AuthorizeView>
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="contratos">
                    <span class="bi bi-file-earmark-plus" aria-hidden="true"></span> Contratos
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link dropdown-toggle" @onclick="()=>exSubCash = !exSubCash">
                    <span class="bi bi-cash" aria-hidden="true"></span> Caja
                </NavLink>
                @if (exSubCash)
                {
                    <ul class="nav flex-column">
                        <li class="nav-item px-3 py-0">
                            <NavLink class="nav-link" href="daily">
                                <span class="bi bi-calendar-plus" aria-hidden="true"></span> Diario
                            </NavLink>
                        </li>
                        <li class="nav-item px-3 py-0">
                            <NavLink class="nav-link" href="consolidated-records">
                                <span class="bi bi-calendar-week" aria-hidden="true"></span> Consolidado
                            </NavLink>
                        </li>
                    </ul>
                }
            </li>           
            <!--#region Inventory Menu -->

            <li class="nav-item px-3 py-0">
                <NavLink class="nav-link dropdown-toggle" @onclick="()=>exSubInventory = !exSubInventory">
                    <span class="bi bi-arrow-left-right" aria-hidden="true"></span> Inventario
                </NavLink>
                @if (exSubInventory)
                {
                    <ul class="nav flex-column">
                        <li class="nav-item px-3 py-0">
                            <NavLink class="nav-link" href="jewelry/1">
                                <span class="bi bi-gem" aria-hidden="true"></span> Anillos
                            </NavLink>
                        </li>
                        <li class="nav-item px-3 py-0">
                            <NavLink class="nav-link" href="jewelry/2">
                                <span class="bi bi-earbuds" aria-hidden="true"></span> Aretes
                            </NavLink>
                        </li>
                        <li class="nav-item px-3 py-0">
                            <NavLink class="nav-link" href="jewelry/3">
                                <span class="bi bi-link-45deg" aria-hidden="true"></span> Cadenas
                            </NavLink>
                        </li>
                        <li class="nav-item px-3 py-0">
                            <NavLink class="nav-link" href="jewelry/4">
                                <span class="bi bi-link-45deg" aria-hidden="true"></span> Pulseras
                            </NavLink>
                        </li>
                        <li class="nav-item px-3 py-0">
                            <NavLink class="nav-link" href="jewelry/6">
                                <span class="bi bi-flower3" aria-hidden="true"></span> Dijes
                            </NavLink>
                        </li>
                        <li class="nav-item px-3 py-0">
                            <NavLink class="nav-link" href="watches">
                                <span class="bi bi-watch" aria-hidden="true"></span> Relojes
                            </NavLink>
                        </li>
                        <li class="nav-item px-3 py-0">
                            <NavLink class="nav-link" href="consolidated">
                                <span class="bi bi-graph-up" aria-hidden="true"></span> Consolidado
                            </NavLink>
                        </li>
                        <li class="nav-item px-3 py-0">
                            <NavLink class="nav-link" href="discharge">
                                <span class="bi bi-archive" aria-hidden="true"></span> Descargar
                            </NavLink>
                        </li>
                    </ul>
                }
            </li>

            <!--#endregion -->
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="bi bi-people" aria-hidden="true"></span> Proveedores
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="gold-calculator">
                    <span class="bi bi-calculator" aria-hidden="true"></span> Calculadora
                </NavLink>
            </li>
        </ul>
    </AuthorizeView>
</div>

@code {
    private bool exSubInventory;
    private bool exSubCash;
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
