@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Bienvenido al sistema @context.User.Identity.Name</h1>
        <br />
        <p>por favor seleccione una opción del menú para iniciar</p>
    </Authorized>
    <NotAuthorized>
        <h1>Hola!</h1>
        Por favor inice sesión
    </NotAuthorized>
</AuthorizeView>