@page "/discharge"
@inherits DischargeBase

<div class="card">
    <div class="card-header">
        <h3>Descargar</h3>
    </div>

    <GenericFilter Pagination="Pagination" KeyText="Referencia" Search="FilteredSearch" Clear="ClearFilter" />
    <EditForm Model="@Item" OnSubmit="DischargeItem">
        @if (Item.Id > 0)
        {
            <div class="card-body">
            <Item Item="Item" />
            <br>
                <div class="row">
                    <div class="col-md-3">
                        <label class="form-label" for="sale">Valor Venta</label>
                        <InputNumber class="form-control" @bind-Value="SaleValue" />
                    </div>
                </div>


                <div class="card-footer bg-transparent">
                    <div class="d-flex justify-content-end">
                        <div class="col-md-2">
                            <a class="btn btn-outline-secondary btn-block" href="/watches"><i class="bi bi-arrow-left"></i> Atrás</a>
                        </div>
                        @*<div class="col-md-2">
                    <button class="btn btn-outline-primary btn-block" @onclick="ClearForm"><i class="bi bi-x"></i> Limpiar</button>
                    </div>*@

                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary btn-block"><i class="bi bi-check2"></i> Descargar</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </EditForm>

</div>
